# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Test reports
/playwright-report
/test-results

# System files
.DS_Store
Thumbs.db
api/play_app_api/bin/*
api/play_app_api/obj/*
api/play_app_api/bin/Debug/*
api/play_app_api/obj/Debug/*
api/play_app_api/bin/Release/*
api/play_app_api/obj/Release/*
api/play_app_api/bin/Debug/net9.0/*
api/play_app_api/obj/Debug/net9.0/*
api/play_app_api/bin/Release/net9.0/*
api/play_app_api/obj/Release/net9.0/*
api/play_app_api.test/bin/*
api/play_app_api.test/obj/*
api/play_app_api.test/bin/Debug/*
api/play_app_api.test/obj/Debug/*
api/play_app_api.test/bin/Release/*
api/play_app_api.test/obj/Release/*
api/play_app_api.test/bin/Debug/net9.0/*
api/play_app_api.test/obj/Debug/net9.0/*
api/play_app_api.test/bin/Release/net9.0/*
api/play_app_api.test/obj/Release/net9.0/*
api/play_app_api.tests/bin/*
api/play_app_api.tests/obj/*
api/play_app_api.tests/bin/Debug/*
api/play_app_api.tests/obj/Debug/*
api/play_app_api.tests/bin/Release/*
api/play_app_api.tests/obj/Release/*
api/play_app_api.tests/bin/Debug/net9.0/*
api/play_app_api.tests/obj/Debug/net9.0/*
api/play_app_api/appsettings*.json
